 .div3 {
 	display: flex;
 	justify-content: center;
 	margin: 20px 0px 4px;
 }
 a {
 	width: 100%;
 	display: inline-block;
 	text-decoration: none;
 	text-transform: uppercase;
 	color: rgb(205, 188, 122);
 	font-size: 18px;
 	background-color: #00081C;
 	padding: 16px 0px;
 	letter-spacing: 4.8px;
 	margin: 10px;
 	min-height: 60px;
 	max-width: 200px;
 	box-sizing: border-box;
 	text-align: center;
 	border-radius: 3.5px;
 	cursor: pointer;
 	border: 1px solid #00081C;
 }
 a:hover{
 	border-color: #273751;
    background-color: #273751;
 }