*{ 
 	font-family: 'Mukta', sans-serif;
 	font-size: 14px; 
 	font-style: normal; 
 	font-variant: normal; 
 	font-weight: 400;
 }
 .div4 {
 	max-width: 1140px;
 	margin: 1rem auto;
 	padding: 0 1rem;
 	box-sizing: border-box;
 }
 h3 {
 	text-transform: uppercase;
 	text-align: center;
 	font-size: 20px;
 	letter-spacing: 4.1px;
 }
.product-list {
	list-style: none;
	display: flex;
	justify-content: center;
}
.product-container {
	width: 254.1px;
	height: 417.5px;
	padding: 0 6px;
	background-color: #FFF;
}
.product-card {
	padding-bottom: 16px;
	cursor: pointer;
	box-shadow: none;
	transition: box-shadow 0.5s;
}
.product-card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 16px 0 rgba(0, 0, 0, 0.2);
}
.img-card {
	width: 254.5px;
	height: 265.5px;
	background-image: url(https://www.danielwellington.com/media/staticbucket/media/catalog/product/d/w/dw00100348_petite_32_evergold_white.png?ecom2=true&format=jpg&canvas=1:1&width=400&quality=80&bg-color=F4F4F4);
	background-position: center;
	background-size: 100%;
}
.img1{
	background-image: url(https://www.danielwellington.com/media/staticbucket/media/catalog/product/d/w/dw00100347_petite_32_evergold_black.png?ecom2=true&format=jpg&canvas=1:1&width=400&quality=80&bg-color=F4F4F4);
}
.img2 {
	background-image: url(https://www.danielwellington.com/media/staticbucket/media/catalog/product/d/w/dw00400075_classic_bracelet_small_evergold_1.png?ecom2=true&format=jpg&canvas=1:1&width=576&quality=60&bg-color=F4F4F4);
}
.img3 {
	background-image: url(https://www.danielwellington.com/media/staticbucket/media/catalog/product/d/w/dw00400080_classic_ring_56_yg.png?ecom2=true&format=jpg&canvas=1:1&width=576&quality=60&bg-color=F4F4F4);
}
.text-card {
	background-color: rgb(0, 0, 0);
	text-align: left;
    margin: 10px 195px 0 17px;
    padding-left: 4px;
    color: #FFF;
}
.product-card-titlte {
	text-transform: uppercase;
	letter-spacing: 1.7px;
	font-weight: normal;
	margin: 7px 12px 0px 16px;
	color: rgb(0, 8, 28);
}
.color-container {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 1px solid black;
	margin: 0px 0px 0px 17px;
}
.yellow {
	width: 18px;
	height: 18px;
	border-radius: 18px;
	background-color: rgb(205, 188, 122);
	margin: 1px 0 0 1px;
}
.product-price {
	margin: 2px 0px 0px 17px;
}
.gold {
	margin: 1px 17px;
}