.level-up-container {
	width: 1000px;
	height: 400px;
	padding: 0 100px;
}

.level-up {
	background-image: url(https://www.danielwellington.com/ecom2-image-bucket/mv3xw5mnbbp0/4PeIOxSrxf1gpVAs15jlV2/5cd447b07455d19ef14f3bb1ade38b55/40mm-dybala-2800x900.jpg?ecom2=true&format=jpg&width=1400&quality=80&bg-color=FFFFFF%201400w);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 1080px;
	height: 100%;
}
