*{ 
 	font-family: 'Mukta', sans-serif;
 	font-size: 14px; 
 	font-style: normal; 
 	font-variant: normal; 
 	font-weight: normal;
 }
.header-component {

}
.header {
	display: flex;
	justify-content: space-between;
	letter-spacing: 10px;
	text-transform: uppercase;
	color: white;
	margin: 20px 0px 1px;
	background-color: rgba(0, 14, 34, 0);
}
.header > div{
	display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}
.text-header {
	font-size: 16px;
	padding-bottom: 5px;
	line-height: 100%;
	align-items: center;
	margin: 0 0 0 10px;
}
/*------------------*/
.header-menu  {
	list-style: none;
	display: flex;
	background-color: rgba(39, 39, 39, 0.2);
	justify-content: center;
	line-height: 3;
}
a {
	text-decoration: none;
	color: black;
}
.sub-header-menu > a:link, .sub-header-menu > a:visited {
	cursor: pointer;
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	margin: 0 20px;
	position: relative;
	padding: 0 10px;
	
}
.sub-header-menu > a:hover {
	text-decoration: underline;
}
.list-all-watches, .sub-accessories, .sub-watch-bands  {
	position: absolute;
	text-decoration: none;
	position: absolute;
	background-color: white;
	display: none;

}
.sub-all-watches, .sub-iconic-link, .sub-class, .sub-info{
	list-style: none;
	margin: 5px 0;
	letter-spacing: 1px;
	
}
.watches:hover .list-all-watches{
	display: block;

}
.watches:hover > a {
	text-decoration: underline;
}
.accessories:hover .sub-accessories {
	display: block;
}
.accessories:hover > a {
	text-decoration: underline;
}
.watch-bands:hover .sub-watch-bands{
	display: block;
}
.watch-bands:hover > a {
	text-decoration: underline;
}